//IMPORTS ----------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "fontawesome-all.scss";

//VARIABLES --------------------------------------------------------------------
$background: #ffffff;
$color1: #333333;
$fontSize: 13pt;
//BASE STYLES ------------------------------------------------------------------
html {background: $background; background-size:100%;}
body{	margin:0;	padding:0; font-family: 'Open Sans', sans-serif; font-size: $fontSize; color:$color1; widtg:100%; height:100vh; }
a{ color:inherit; text-decoration:none; }
ul, li{ list-style:none; margin:0; padding:0; }
p, h1, h2, h3, h4, h5, h6{ margin:0; }
input:focus, select:focus, textarea:focus, button:focus { outline: none !important; }
//PAGE -------------------------------------------------------------------------


//HELPER CLASES ----------------------------------------------------------------
.hidden{ display:none!important; }
